In [12]:
import pandas as pd

In [13]:
df = pd.read_csv(r"C:\Users\Bluepollen_F_002\Desktop\ProspectDataScrapper\dataset\Prenoms_fr.csv", sep=";")
df

       01_prenom 02_genre        03_langage
0        aaliyah        f  english (modern)
1         aapeli        m           finnish
2           aapo        m           finnish
3          aaren      m,f           english
4          aarne        m           finnish
...          ...      ...               ...
11622        zvi        m            jewish
11623   zvonimir        m          croatian
11624  zvonimira        f          croatian
11625     zvonko        m          croatian
11626    zygmunt        m            polish

[11627 rows x 3 columns]

In [15]:
df['01_prenom'].drop(df['01_prenom'].str.contains("(1)")==True)

KeyError: '[False False False ... False False False] not found in axis'

In [16]:
df[df['01_prenom'].str.contains("(1)")==True]

           01_prenom 02_genre                                 03_langage
141        aeron (1)      m,f                                      welsh
210           ai (1)        f                                   japanese
354       alexis (1)        m     german, french, english, ancient greek
380        alina (1)        f                                     arabic
467        amadi (1)        f                                    african
...              ...      ...                                        ...
10926  valentine (1)        m                                    english
10949        van (1)        m                                    english
11046   victoria (1)        f  english, spanish, romanian, ancient roman
11284     witold (1)        m                                     german
11452       yuri (1)        m                                    russian

[117 rows x 3 columns]